.create {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  flex: 1;

  min-width: 600px;
  align-content: center;
  
  /* height: 100vh; */
  grid-template-rows: 10% 90%;

  color: white;
}

.create__artwork{
  justify-self: center;

  align-self: center;
}

.ant-card {
  /* margin-top: 100px !important; */
  margin-bottom: 60px !important;
}
.create__artwork > img{

  width: 80%;
  border-radius: 16px;

  box-shadow: 0px 6px 18px -9px rgba(0, 0,
  0, 0.75);
}
